body {
   
    background-color: #f5f5f5;
    font-family: Roboto;
    justify-content: center;
    margin: 10px
}
.chemical-element {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    color: whitesmoke;
    font-family: Roboto;
    justify-content: center;
}


.background-gray {
    background-color: rgb(159, 153, 153);
}

.background-rose {
    background-color: rgb(230, 102, 102);
}

.background-purple {
    background-color: rgb(88, 16, 147);
}

.background-red {
    background-color: rgb(229, 65, 65);
}

.background-green {
    background-color: rgb(30, 112, 30);
}

.background-lightgreen{
    background-color: rgb(173, 198, 82);
}

.background-blue {
    background-color: rgb(35, 35, 179);
}   

.background-orange {
    background-color: rgb(255, 182, 45);
}

.background-lightblue {
    background-color: rgb(106, 185, 211);
}

.background-cyan{
    background-color: rgb(44, 159, 134);
}

.background-darkorange{
    background-color: rgb(196, 129, 7);
}

.empty-cells {
    background-color: transparent;
    border: none;
}
.gap {
    height: 12px;
}


.chemical-element:hover {
    color: darkgreen
}

.chemical-element > div:first-child {
    box-sizing: border-box;
    font-size: 15px;
    height: 15px;
    padding-top: 2px;
    padding-left: 4px;
}

.chemical-element > div:last-child {
    font-size: 12.5px;
    text-transform: capitalize;
    text-align: center;
}

.chemical-element > div:nth-child(2) {
    font-size: 30px;
    height: 30px;
    text-align: center;
}